body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    /* background-color: coral; */
    align-items: center;
    padding: 15px;
    color:#333;
}
.header ul li{
    font-weight: 700;
    font-size: 18px;
}
.logo-container{
    font-size: 40px;
    text-transform: uppercase;
    width:100px;
    height: 100px;
}
.logo-container img{
    width:100%
}
.header ul{
    display: flex;
    list-style: none;
    gap:30px;
}
.header ul li{
    font-size: 24px;
}

.search-container{
    background-color: rgb(97, 95, 94);
    padding: 20px;
    text-align: center;
}
.search-container input{
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}
.rest-cards{
    margin: 30px 15px;
}
.card{
    padding: 20px 20px 57px;
    border: 1px solid #fff;
    contain: content;
    width:415px;
}
.card:hover{
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
}
.card-header img{
    width:100%;
}
.rest-cards{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.card-body ul{
    padding: 0;
  
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    color:#535665;
}
.card-body ul li:first-child{
    list-style: none;
}
.star{
    color:#fff;
    padding: 5px 10px;
}
.above-four{
    background-color: #07b33a;
}
.below-four{
    background-color: #b36e07;
}